{% extends 'base.html' %}
{% load static %}

{% block extend_title %}
| cart
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col mt-4 my-2">
            <h1 class="text-center">Shopping Bag</h1>
            <hr class="heading-ruler mx-auto mb-4">
        </div>
    </div>


    <div class="row justify-content-center my-4">
        {% if bag_items %}
        <div class="col-lg-8 col-md-12">
            <table class="shopping-bag-items">
                <tbody>
                    {% for item in bag_items %}
                        <tr>
                            <td class="text-center">
                                <img src="{{item.merch.image_url}}" alt="..." class="img-thumbnail img-table">
                            </td>
                            <td class="w-100">
                                <table class="w-100">
                                    <tr>
                                        <td>Item: {{item.merch.name}}</td>
                                        <td class="text-end">
                                            <form class="delete-form" action="{% url 'delete-cart' item.item_id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>€{{item.merch.price}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="quantity">Quantity: </label>
                                            <form class="edit-form" action="{% url 'edit-cart' item.item_id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="add-to-cart d-inline">
                                                    <div class="d-inline">
                                                        <button class="decrement-qty btn" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <i class="fas fa-minus"></i>
                                                        </button>
                                                    </div>
        
                                                    <input class="qty_input text-center" type="number" name="quantity" value={{item.quantity}} min=1 max=10 id="id_qty_{{ item.item_id}}" data-item_id="{{ item.item_id}}">
        
                                                    <div class="d-inline">
                                                        <button class="increment-qty btn" 
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{item.item_id }}">
                                                                <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <input type="submit" class="btn btn-outline-success" value="Edit">

                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </form>
                                        </td>
                                        <td class="text-end">Item sum: €{{item.item_total}}</td>
                                    </tr>
                                </table>
                                <hr>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Total</h5>
                        {% if not request.user.is_authenticated %}
                        <p style="font-size: 11px;">Login for an easier experience</p>
                        <a href="{% url 'account_login' %}" type="button" class="w-100 btn btn-outline-secondary">Login</a>
                    {% endif %}
                    <hr>
                    <table>
                        <tr>
                            <td>Order value</td>
                            <td class="text-end">€{{total}}</td>
                        </tr>
                        <tr>
                            <td>Delivery</td>
                            <td class="text-end">€4.99</td>
                        </tr>
                    </table>
                    <hr>
                    <table>
                        <tr>
                            <td>Order value</td>
                            <td class="text-end">€{{grand_total|floatformat:2}}</td>
                        </tr>
                    </table>
                    <a href="" type="button" class="w-100 btn btn-secondary">Continue to checkout</a>
                </div>
            </div>
        </div>
        {% else %}


        <div class="col mb-3">
            <h3 style="border-bottom: 1px solid black; width: fit-content;"> Your bag is empty </h3>
        </div>
        <span>
            <a href="{% url 'merch' %}"><i class="fas fa-long-arrow-alt-left"></i>Continue Shopping</a>
        </span>
        
        {% endif %}
    </div>

</div>
{% endblock %}

{% block postjs %}
{{block.super}}
{% include 'merchandise/includes/quantity_script.html' %}
{% endblock %}

