@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500;700&family=Unica+One&family=Volkhov:wght@400;700&display=swap');

/** 
    font-family: 'Roboto Slab', serif;
    font-family: 'Unica One', cursive;
    font-family: 'Volkhov', serif;
**/

body {
    font-family: 'Unica One', cursive;
}

.heading-ruler {
    width: 4rem;
    color: #fca311 !important;
    opacity: 1 !important;
    height: 10px !important;
    border-radius: 10px;
}

/*------------------------------ HOME - carousel */
.carousel-item {
    height: 85vh;
    width: 100vw;
    background-color: white;
}

.carousel-indicators [data-bs-target] {
    background-color: blue;
}
/*------------------------------ HOME - our gym */

#our-gym {
    background-color: #14213d;
    color: #e5e5e5;
}

.gym-description {
    width: 70%;
    margin: 0 auto;
}

.gym-cards {
    margin: 0 auto;
    width: 80%;
}

.card-title {
    color: #141850;
}

i {
    color: #fca311;
}

.card {
    background-color: #e5e5e5;
    color: black;
}

/*------------------------------ HOME -  Contact us */

#contact-us {
    background-color: #e5e5e5;
}

.contact-content {
    padding-top: 10px;
    width: 80%;
}

/*------------------------------ Merchandise - cards */
.card-img-top {
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.card {
    overflow: hidden;
}

img:hover {
    transform: scale(1.05);
    overflow: hidden;
}


/*------------------------------ Merchandise - search bar */
.search-bar {
    width: 40%;
}

/*------------------------------ Merchandise - media queries */
@media (max-width: 576px) {
    .card {
        width: 300px;
    }
    .search-bar {
        width: 250px;
    }
}