<ul class="nav">
    <li class="nav-item">
        <a class="nav-link cart" href="{% url 'view-bag' %}">Cart({{product_count}})</a>
    </li>
</ul>

<div class="collapse navbar-collapse" id="dropdown-nav">
    <ul class="navbar-nav me-auto mt-2 mb-lg-0">
        {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="#">Product Management</a>
            </li>
            <hr>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'gym-home' %}#our-gym">Our gym</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'membership' %}">Memberships</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'merch' %}">Merchandise</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gym-home' %}#contact-us">Contact</a>
        </li>
        <li class="nav-item">
            <hr style="opacity: 1; background: #fca311;">
        </li>
        
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Join</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
</div>