{% extends 'base.html' %}
{% load static %}

{% block extend_title %}
| Product Management
{% endblock %}

{% block content %}

<div class="management-container">
    <!-- Header row starts -->
    <div class="row mt-4">
        <div class="col mt-4 my-2">
            <h1 class="text-center">Product Management</h1>
            <hr class="heading-ruler mx-auto mb-4">
        </div>
    </div>

    <div class="actions">
        <ul>
            <li class="action"> 
                <a href="{% url 'add-product' %}"> <i class="fas fa-less-than p-2"></i> Add a new merchandise</a>
            </li>
            <li class="action">
                <a href="{% url 'merch' %}"> <i class="fas fa-less-than p-2"></i> Edit an exisiting merchandise</a>
            </li>
            <li class="action">
                <a href="{% url 'merch' %}"> <i class="fas fa-less-than p-2"></i> Delete merchandise</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}