{% extends 'base.html' %}
{% load static %}

{% block extend_title %}
| Home
{% endblock %}

{% block content %}

<div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-bs-target="#homeCarousel" data-bs-slide-to="1"></li>
        <li data-target="#homeCarousel" data-bs-target="#homeCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item carousel-img1 active">
            <div class="carousel-caption">
                <h3 class="text-uppercase">Exercise or Enjoyment</h3>
                <p>Why choose? Enjoy reaching your fitness goals with us.</p>
                <button type="button" class="btn my-2 px-4 py-2">Join Now</button>
            </div>
        </div>
        <div class="carousel-item carousel-img2">
            <div class="carousel-caption">
                <h3 class="text-uppercase">Exercise or Enjoyment</h3>
                <p>Why choose? Enjoy reaching your fitness goals with us.</p>
                <button type="button" class="btn m-2 px-4 py-2" >Join Now</button>
            </div>
        </div>
        <div class="carousel-item carousel-img3">
            <div class="carousel-caption">
                <h3 class="text-uppercase">Exercise or Enjoyment</h3>
                <p>Why choose? Enjoy reaching your fitness goals with us.</p>
                <button type="button" class="btn m-2 px-4 py-2">Join Now</button>
            </div>
        </div>
    </div>
</div>
<!-- Our gym -->
<section id="our-gym" class="container-fluid">
    <div class="row">
        <div class="section-title">
            <div class="col">
                <h1 class="text-center mt-5 px-3"> Our Gym</h1>
                <hr class="heading-ruler mx-auto">
                <p class="text-center py-3 mx-auto">At JoGym we offer a gym experience like no other. With equipments at your disposal to reach your fitness goals. Reached a plateu? Feel drained from constant gym? We provide a host of physical activities to respark your joy for fitness.  </p>
            </div>
        </div>
    </div>
    <!-- Cards starts here -->
    <div class="gym-cards p-3">
        <div class="row h-100">
            <div class="col-lg-3 col-sm-6 col-xs-12  my-3">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-dumbbell fs-2"></i>
                        <h5 class="card-title my-3">Regular Gym</h5>
                        <p class="card-text">Build muscle, endurance and stamina with the our state of the art equipment.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 my-3">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <i class="fas fa-users fs-2"></i>
                        <h5 class="card-title my-3">Our Classes</h5>
                        <ul class="list-unstyled">
                            <li>Cycling</li>
                            <li>Yoha</li>
                            <li>HIIT</li>
                            <li>Zumba</li>
                            <li>Body Pump</li>
                            <li>Body Balance</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 my-3">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <i class="fas fa-heart fs-2"></i>
                        <h5 class="card-title my-3">Joy Activities</h5>
                        <ul class="list-unstyled">
                            <li>Paintball</li>
                            <li>Rock climbing</li>
                            <li>Swimming</li>
                            <li>Trampolining</li>
                            <li>Padel</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 my-3">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <i class="fas fa-utensils fs-2"></i>
                        <h5 class="card-title my-3">Health Bar</h5>
                        <p>Struggle with meal prepping or eating healthy. Visit our health bar for pre/post workout smoothies, shakes or meals.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cards end-->
</section>

<!-- START - Contact us-->
    <section id="contact-us" class="container-fluid">
        <div class="contact-container mx-auto py-5">
            <div class="row">
                <div class="section-title">
                    <div class="col">
                        <h1 class="text-center mt-5 px-3"> Contact Us</h1>
                        <hr class="heading-ruler mx-auto">
                    </div>
                </div>
            </div>
            <div class="contact-content mx-auto" >
                <form class="contact-form p-4" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                {{ form.first_name | as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.last_name | as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.email | as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.message | as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>  
            </div>
        </div>
    </section>
<!-- END - Contact us -->
{% endblock %}s