{% extends 'base.html' %}
{% load static %}

{% block extend_title %}
| Home
{% endblock %}

{% block content %}

<div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-bs-target="#homeCarousel" data-bs-slide-to="1"></li>
        <li data-target="#homeCarousel" data-bs-target="#homeCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="background: url('/media/gym-background.jpg') center center no-repeat; background-size: cover;">
            <div class="carousel-caption">
                <h5 class="text-uppercase">Exercise or Enjoyment</h5>
                <p>Why choose? Enjoy reaching your fitness goals with us.</p>
                <button type="button" class="btn btn-info">Join Now</button>
            </div>
        </div>
        <div class="carousel-item" style="background: url('/media/paintball-big.jpg') center center no-repeat; background-size: cover;">
            <div class="carousel-caption">
                <h5 class="text-uppercase">Exercise or Enjoyment</h5>
                <p>Why choose? Enjoy reaching your fitness goals with us.</p>
                <button type="button" class="btn btn-info">Join Now</button>
            </div>
        </div>
        <div class="carousel-item" style="background: url('/media/colorful-weights-bg.jpg') center center no-repeat; background-size: cover;">
            <div class="carousel-caption">
                <h5 class="text-uppercase">Exercise or Enjoyment</h5>
                <p>Why choose? Enjoy reaching your fitness goals with us.</p>
                <button type="button" class="btn btn-info">Join Now</button>
            </div>
        </div>
    </div>
</div>

<div id="our-gym-container" class="container-fluid">
    <div id="our-gym" class="row py-3">
        <div class="col">
            <h1 class="text-center mt-5 px-3"> Our Gym</h1>
            <p class="text-center mb-5 px-3">At JoGym we offer a gym experience like no other. With equipments at your disposal to reach your fitness goals. Reached a plateu? Feel drained from constant gym? We provide a host of physical activities to respark your joy for fitness.  </p>
        </div>
    </div>

    <div class="row py-2 m-auto">
        <div class="col-lg-3 col-md-6 col-12 my-3">
            <div class="card text-center h-100">
                <h5 class="card-header">
                    <i class="fas fa-dumbbell"></i>
                </h5>
                <div class="card-body my-auto">
                    <h5 class="card-title">Regular Gym</h5>
                    <p class="card-text">Build muscle, endurance and stamina with the our state of the art equipment.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 my-3">
            <div class="card text-center h-100">
                <h5 class="card-header">
                    <i class="fas fa-users"></i>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Our Classes</h5>
                    <ul class="list-unstyled">
                        <li>Cycling</li>
                        <li>Yoha</li>
                        <li>HIIT</li>
                        <li>Zumba</li>
                        <li>Body Pump</li>
                        <li>Body Balance</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 my-3">
            <div class="card text-center h-100">
                <h5 class="card-header">
                    <i class="fas fa-heart"></i>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Joy Activities</h5>
                    <ul class="list-unstyled">
                        <li>Paintball</li>
                        <li>Rock climbing</li>
                        <li>Swimming</li>
                        <li>Trampolining</li>
                        <li>Padel</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 my-3">
            <div class="card text-center h-100">
                <h5 class="card-header">
                    <i class="fas fa-utensils"></i>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Health Bar</h5>
                    <p>Struggle with meal prepping or eating healthy. Visit our health bar for pre/post workout smoothies, shakes or meals.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}s